.panel-default > .panel-heading 
{ 
  background-image: url(../images/fnd_body_violeta.jpg);
  background-size: contain;
  background-color: transparent;
  border-color: transparent;
  }

.panel-default {
    border-color: #A876B9; 
    border-width: 1px;
    border-style: solid;
}  

.panel-footer {background-color:transparent;
 border-top
 }

.panel-body {  
  height: calc(100vh - 200px);
  overflow-y: auto; 
}

h2 {
    font-family:inherit;
    font-size:16px;
    color:#333; 
    font-weight:bold;
    text-align: center;
}

h3 {
    font-family:inherit;
    font-size:14px;
    color:#333; 
    font-weight:bold;
    text-align: center;
}

h5 {
    font-family:inherit;
    font-size:12px;
    color:#333;
    font-weight:normal;
}

 /*a, span .check_td {color:#333; }*/

table.cuadro ,
table.cuadro  tr,
table.cuadro  tr th,
table.cuadro  tr td {
  background-color:#EEE6F1;  
  border-color: #A876B9;
  font-weight: normal;
  padding: 1px;    
}
